#topbar {
    font-size: 1rem;
}

#prevnext {
    background-color: white;
    font-size: .8rem;
}

#content {
    background-color:#a1bfcc;
    font-size: 1rem;
}

#Theheader {
    font-size: 3rem;
}

#No-Scrolling {
    overflow: hidden;
}