<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather of Chicago</title>
	<link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="No-Scrolling">
	<div class="off-canvas-wrapper">
		<div class="off-canvas-content" data-off-canvas-content>
			<div class="top-bar" id="topbar">
            	<a href="index.html">Home</a>
				<a href="temperature.html">Temperatures by Day</a>
				<a href="record.html">Record Temperatures by Day</a>
				<a href="precipitation.html">Precipitation by Day</a>
        	</div>
		</div>

		<div class="grid-container" id="content">
			<div class="grid-x grid-padding-x">
                <header class="float-center">
                    Weather of Chicago
                </header>
            </div>
			<br/>
			<br/>
			<div>
				<p>
					This webpage holds the daily weather data for the city of Chicago from 
					7/1/2014 to 6/30/2015. So, click a category at the top bar to start
					browsing the data.
				</p>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</div>
		</div>
	</div>

	<script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>
