<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather of Chicago</title>
	<link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="off-canvas-wrapper">
		<div class="off-canvas-content" data-off-canvas-content>
			<div class="top-bar" id="topbar">
            	<a href="/">Home</a>
				<a href="/day/2015-01-01">By Day</a>
				<a href="/month/2015-01">By Month</a>
				<a href="/season/spring">By Season</a>
        	</div>
			<div class="top-bar" id="prevnext">
				<!--fill in the href here for the prev and next links-->
            	<a href="/season/$$$PREV_DATE$$$">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prev</a>
				<a href="/season/$$$NEXT_DATE$$$">next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        	</div>
		</div>

		<div class="grid-container" id="content">
			<div class="grid-x grid-padding-x">
                <header class="float-center" id = "Theheader">
                    <!--insert season here and probably the dates of that season, ie "Winter 12/1/14-3/1/15"-->
					$$$SEASON$$$
                </header>
            </div>
			<br/>
			<br/>
			<!--fill in the source for the corresponding season picture, also the alt since the directions say to do so-->
			$$$IMG$$$
			<br/>
			<br/>
            <div>
				<!--fill in each piece of data after the colon-->
				$$$SEASON_DATA$$$
			</div>
			<div>
				<!--If there is a graph to be generated, place it here-->
			</div>
		</div>
	</div>

	<script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>
